.app {
  background: #303371;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.contact-container {
  background: #fff;
  display: flex;
  padding: 1rem;
  border-radius: 30px;
}

.contact-container img {
  /* width: 60%; */
}

.contact-text {
  color: #303371;
  margin-left: 3rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

@media (max-width: 790px) {
  .app {
    padding: 3rem 1rem;
  }
  .contact-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}
